.map-container {
    position: relative;
    width: 100%;

    #viewport-map {
        width: 100%;
        min-height: 25rem;
        transition: all 0.5s ease;
        height: calc(100vh - 55rem);
        z-index: 0;
    }

}

.h-100{
    height: 100vh !important;
}